// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.empty {
  text-align: center;
  padding: 10px 0 0 0;
}

.user {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px
}